<div class="bookings-global-container row">
  <h1 id="bookings-main-title">My dashboard</h1>
  <div class="col-received col-md-6"> <!-- 1ERE COLONNE -->
    <div class="titles-style"> <!-- TITLES -->
      <h1>Rental requests received</h1>
      <p>These people want to book one of your animals! Answer them:</p>
    </div> <!-- FIN TITLES -->
    <% @owner_bookings.each do |booking| %> <!-- ITERATION CARD AUTOMATIQUE-->
      <div class="booking-card"> <!-- BOOKING RECEIVED CARD -->
        <div class="row"> <!-- card row-->
          <div class="booking-card-box-one col-md-4"> <!-- renter profile -->
            <p><%= cl_image_tag booking.user.avatar.key, class:"booking-profile-photo"%></p>
            <p id="booking-profile-name"><%= booking.user.username %></p>
            <p id="booking-profile-age"><%= booking.user.age %> y/o</p>
            <p id="booking-profile-job">Passionate about <%= booking.user.job %></p>
          </div> <!-- fin renter profile -->
          <div class="reservation-container col-md-8">
            <div class="booking-card-box-two">
              <p id="wants-phrase"> <em><%= booking.user.username %></em> wants to rent <em><%= booking.animal.name %> </em><%= cl_image_tag booking.animal.photo.key, class:"booking-animal-photo-received"%></p>
              <div class="booking-date-request">
                <p> <img src="https://cdn-icons-png.flaticon.com/512/123/123392.png?w=1380&t=st=1685540969~exp=1685541569~hmac=2941c188814385158d9c3ad1b8fd230d8e9ac38e604193cf245f9d4eb6bf669a" alt="icone calendar" class="booking-icon"></p>
                <p>From <%= booking.start_date %> to <%= booking.end_date %></p>
              </div>
            </div> <!-- fin réservation détails -->
            <div class="booking-card-box-two">
            <% if booking.status.nil? %>
              <p>Booking pending </p>
                <div class="btn-booking">
                  <%= link_to 'Accept', accept_owner_booking_path(booking), data: {turbo_method: :patch} %>
                  <%= link_to 'Decline', decline_owner_booking_path(booking), data: {turbo_method: :patch} %>
                </div>
                <% elsif booking.status == "accepted" %>
                  <p>Booking accepted </p>
                <% else booking.status == "declined" %>
                  <p>Booking declined</p>
                <% end %>
            </div> <!-- fin réservation acceptance -->
          </div> <!-- fin réservation container -->
        </div> <!-- fin card row-->
      </div> <!-- FIN BOOKING RECEIVED CARD -->
    <% end %> <!-- FIN ITERATION CARD AUTOMATIQUE-->
  </div> <!-- FIN 1ERE COLONNE -->

  <div class="col-sent col-md-6"> <!-- 2E COLONNE -->
    <div class="titles-style"> <!-- TITLES -->
      <h1 class="titles-card booking-title text-center">Bookings demands sent</h1>
      <p class="titles-card booking-subtitle text-center">The animals you want to book :</p>
    </div> <!-- FIN TITLES -->
    <% @user_bookings.each do |booking| %> <!-- ITERATION CARD AUTOMATIQUE-->
      <div class="booking-card"> <!-- BOOKING SENT CARD -->

        <div class="row w-100"> <!-- card row-->

          <div class="booking-card-box-one col-md-4"> <!-- animal profile -->
            <%# <img src="" alt="" class="booking-profile-photo"> %>
            <p><%= cl_image_tag booking.animal.photo.key, class:"booking-animal-photo"%></p>
            <p class="booking-animal-name"><%= booking.animal.name %></p>
            <p class="booking-profile-price-per-day">$ <%= booking.animal.price_per_day.to_i %></p>

            <div class="icon-capacity-beast">
              <% if @animal.can_fly %>
              <%= image_tag("can_fly_2.png") %>
              <% end %>
              <% if @animal.can_walk %>
              <%= image_tag("can_walk_2.png") %>
              <% end %>
              <% if @animal.can_swim %>
              <%= image_tag("can_swim_2.png") %>
              <% end %>
            </div>

          </div> <!-- fin animal profile -->

          <div class="booking-details-container col-md-8">

            <div class="booking-card-box-two">

              <div class="booking-date-info">
                <p>You wants to rent <%= booking.animal.name %></p>
              </div>

              <div class="booking-date-request">
                <p> <img src="https://cdn-icons-png.flaticon.com/512/123/123392.png?w=1380&t=st=1685540969~exp=1685541569~hmac=2941c188814385158d9c3ad1b8fd230d8e9ac38e604193cf245f9d4eb6bf669a" alt="icone calendar" class="booking-icon"></p>
                <p>From <%= booking.start_date %> to <%= booking.end_date %></p>
              </div>

            </div> <!-- fin owner-informations -->

            <div class="booking-card-box-two">
              <p>Booking is pending ⏰</p>
            </div> <!-- fin booking status -->

          </div> <!-- fin booking details container -->
        </div> <!-- fin card row-->
      </div> <!-- FIN BOOKING SENT CARD -->
    <% end %> <!-- FIN ITERATION CARD AUTOMATIQUE-->
  </div> <!-- FIN 2E COLONNE -->
</div> <!-- div class bookings-global-container -->
